---
title: About Zingoo
layout: base.njk
---

<h1>About Zingoo</h1>
<p>Zingoo is a solo-run service for solo-run businesses. I specialize in creating simple, beautiful, one-time-payment websites using static tech (Eleventy + Netlify).</p>
